<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="custom" value="http://custom-package-registry-test-package-registry/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <custom>
            <!-- Never commit real credentials to source control -->
            <add key="Username" value="%NUGET_USER%" />
            <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
        </custom>
    </packageSourceCredentials>
</configuration>
